<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Joe's API</a></h5>

  <nav class="my-2 my-md-0 mr-md-3">
    <% if(!user){ %>
    <a class="p-2 text-dark" href="/api/users/signup"
      >Sign up <span class="sr-only">(current)</span></a
    >

    <a class="p-2 text-dark" href="/api/users/signup">Sign in</a>
    <% } else { %>
    <a class="p-2 text-dark" href="/api/users/edit-profile"
      >loggedIn as <%= user.profile.name %></a
    >
    <a class="p-2 text-dark" href="/api/users/logout">Logout</a>

    <a class="p-2 text-dark" href="/api/cart">
      <span class="fa-stack  has-badge" data-count="<%= cart %>">
        <i class="fas fa-shopping-cart"></i>
        <%= cart %>
      </span>
    </a>

    <% } %>
  </nav>
</div>
